.bouncing:hover {
  animation: bouncing 0.36s;
  animation-direction: alternate;
  animation-timing-function: easeInOutQuad;
  animation-iteration-count: infinite;

}

.bouncing {
  animation: bouncing 0.36s;
  animation-direction: alternate;
  animation-timing-function: easeInOutQuad;
  animation-iteration-count: 8;

}

@keyframes bouncing {
  from { transform: translate3d(0, 0px, 0);     }
  to   { transform: translate3d(0, -20px, 0); }
}

/* Prefix Support 
bouncing {
  -webkit-animation-name: bouncing;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  -webkit-animation-iteration-count: infinite;
    
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

@-webkit-keyframes bouncing {
  from { -webkit-transform: translate3d(0, -20px, 0); transform: translate3d(0, -20px, 0); }
  to   { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}*/

/*https://codeburst.io/tutorial-make-a-bouncing-ball-entirely-with-css-1e7e3c853a50*/

/*
50th anniversary

In 2021, we will be celebrating 50 years of VacProj! To commemorate this, we will be organising a number of festivities in and around Lincoln College. To reserve your place at our 50th anniversary dinner, please contact Alice at president@vacproj.co.uk. 

Get in touch

If you are a parent or a social worker looking to nominate a child for Vac Proj, please contact our Social Services Liaison Officers at socialservices@vacproj.co.uk. They will be able to advise you on how to apply for this year’s holidays and provide more information about the activities we run. 
If you have any more general queries about our aims, or if you are interested in getting involved with Vac Proj, please contact Alice, the charity’s President, at president@vacproj.co.uk.

Donate

Vac Proj is a small, student-run charity. We rely on the generosity of other charitable trusts and individual donations to operate. If you would like to make a donation to Vac Proj so we can continue our work with disadvantaged children in Oxfordshire, please go to: 
https://mydonate.bt.com/charities/lincolncollegevacationproject
*/